.app_body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #f1f2f5;
}

@media(max-width:1440px) and (min-width:1025px) {
  .app_body {
    flex-wrap: nowrap;
  }
}
@media(max-width:1024px) and (min-width:769px) {
  .app_body {
    flex-wrap: nowrap;
  }
}

@media(max-width:768px) and (min-width:426px) {
  .app_body {
    flex-wrap: nowrap;
  }
}